// GENERAL SETTINGS

// Font-family : "Open Sans", sans serif
// Font-family : "Chelsea Market", cursive

// Colors
$primary-color: #264653;
$secondary-color: #2a9d8f;
$third-color: #969696;
$primary-accent-color: #f4a261;
$secondary-accent-color: #e76f51;

// Body
body {
  font-family: "Open Sans", Helvetica, sans-serif;
  background-color: #fff;
  color: $primary-color;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

// Header
h1 {
  font-family: "Chelsea Market", cursive;
  text-transform: uppercase;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0.1em;
  margin-top: 50px;
}

// Try Counter
.tryCounterContainer {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  margin-top: 65px;
  h2 {
    font-family: "Chelsea Market", cursive;
    font-size: 24px;
    text-transform: uppercase;
    color: $secondary-color;
    letter-spacing: 0.1em;
  }
  .tryCounterNbr {
    font-size: 24px;
    // .counter {
    //   font-size: 36px;
    //   font-weight: 300;
    //   color: $third-color;
    // }
  }
}

// Positioning game

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-bottom: 50px;
}

// Hangman & word to guess

.hangmanWordContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

// Hangman

.hangman {
  width: 350px;
  position: relative;
  background-image: url(assets/images/papiers-1.png);
}

// Word to guess

.wordToGuess {
  display: flex;
  gap: 10px;
  .letterToGuess {
    border-bottom: 3px solid #264653;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    width: 42px;
    height: 50px;
    font-family: "Chelsea Market", cursive;
    font-size: 36px;
    text-transform: uppercase;
  }
}

// Keyboard

.keyboard {
  width: 411px;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  .letterContainer {
    width: 50px;
    height: 50px;
    background-color: #f4a261;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    .letter {
      font-size: 36px;
      color: #fff;
    }
  }
}

// Pop Up final
.popupContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  .popup {
    width: 500px;
    background-color: $secondary-color;
    border-radius: 2px;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    button {
      cursor: pointer;
      font-family: "Chelsea Market", cursive;
      text-transform: uppercase;
      color: #2a9d8f;
      background-color: #fff;
      border: none;
      border-radius: 2px;
      padding: 5px 10px;
      margin-top: 20px;
    }
  }
}
